* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 808px; */
}

.banner-main {

    padding-top: 216px;

}

.header-title {
    margin-left: 845px;
    margin-right: 230px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 50px;
    line-height: 100px;
    text-align: right;
    color: #151414;

}

.header-description {
    text-align: right;
    color: #444343;
    margin-left: 870px;
    margin-right: 230px;
    font-size: 18px;

}

.contact-btn {
    background: #F15B22;
    border-radius: 5px;
    border: 0;
    width: 160px;
    height: 64px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;

    margin-left: 1350px;
    margin-right: 230px;
    margin-top: 20px;
    margin-bottom: 160px;
}

/* Start main section */

.section1 {
    display: flex;
    justify-content: space-between;
}

.sectin1-image {
    margin-left: 200px;
    margin-top: 100px;
}

.section1-title {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 20px;
    width: 288px;
    height: 94px;
}

.section1-description {
    color: #444343;
    width: 416px;
    height: 104px;
}

.section1-description-point {
    color: #444343;
}

li::before {
    content: "\2713";
    color: #16D887;
}

li {
    list-style: none;
}

.section1-div {
    margin-top: 340px;
    margin-right: 320px;
}

/* section 2 start */
.my-plans {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

.web {
    width: 300px;
    height: 197px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

.web-development {
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}



.web-description {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
}

.all-plans {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 100px;

}

/* section 3 start */

.watch-image {
    display: block;
    margin-left: 300px;
    margin-right: 230px;
    padding-bottom: 150px;

}

.gradient-image {
    height: 300px;
    background-image: linear-gradient(to right, rgba(255, 99, 71, 0.8), rgba(255, 0, 0, 0)), url(../images/watch.png);
    background-repeat: no-repeat;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px;
    border-radius: 8px;

}


.section3-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-bottom: 15px;
    padding-top: 35px;
    width: 459px;
    height: 94px;
    margin-left: 50px;

}

.call-now {
    padding-bottom: 15px;
    padding-top: 35px;
    width: 459px;
    height: 94px;
    margin-left: 50px;
}


.footer-btn {
    width: 160px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    border: 0;
}


/* footer */
.footer-main-section {
    background: #151414;
    width: 100%;
}

.future {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-left: 200px;
    padding-top: 100px;
}

.footer-main-section {
    display: flex;
    justify-content: space-between;
}

.footer-description {
    color: #FFFFFF;
    margin-left: 200px;
    padding-top: 15px;
    padding-right: 700px;
    padding-bottom: 15px;
}

.social-icon {
    margin-left: 200px;
    margin-top: 5px;
    margin-bottom: 130px;
}

.fb {
    margin-right: 10px;
}

.twitter {
    margin-right: 10px;
}

.subscribe {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 25px;

}


.footer-section2 {
    margin-top: 100px;
    margin-right: 230px;
}

.email {
    margin-bottom: 15px;
    width: 325px;
    height: 64px;
    background-color: #151414;
    border-radius: 8px;
    border-color: #FFFFFF;
    color: #F3F3F3;
    font-size: 18px;
    padding-left: 20px;
}